<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/api/login" method="POST">
      <label for="username">Username</label>
      <br />
      <input type="username" name="username" placeholder="Enter username" />
      <br />

      <label for="password">Password</label>
      <br />
      <input type="password" name="password" placeholder="Enter Password" />
      <br />

      <button type="submit">Login</button>
    </form>
  </body>
</html>
