<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <form method="POST" action="/api/register">
      <label for="username">Username</label>
      <br />
      <input type="text" name="username" placeholder="Username" />
      <br />

      <label for="password">Password</label>
      <br />
      <input type="text" name="password" placeholder="Password" />
      <br />

      <button type="submit">Register</button>
    </form>
  </body>
</html>
